rejected
build/*
dist/*
Makefile
unit_tests
main
spa
libspa.a
config.log
config.status
*.o
*.Po
*.swp
*.cache
.dirstamp
.deps
/*.DS_Store
/*.dep.inc
sample/
Debug/
Release/
*.opensdf
*.sdf
*.v11.suo
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir
Win32/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake