rejected
build/*
dist/*
Makefile
unit_tests
system_test
main
libspa.a
config.log
config.status
*.o
*.Po
*.swp
*.cache
.dirstamp
.deps
/*.DS_Store
/*.dep.inc
Debug/
Release/
*.opensdf
*.v11.suo
*.suo
*.sdf
*.vcxproj.user
*.dir
*.obj
flatfile.txt
Win32/
ipch/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake